# Mirror of .fossil-settings/ignore-glob (Fossil is the source of truth)
/bin/
/lib/
/public/
/docs-api/
/.shards/
/.wasmer/
/.wasm32-wasi-libs/
/site/crystal-robots.wasm
*.dwarf
/examples/test.wasm
/manifest.uuid
/manifest
