# Mirror of .fossil-settings/ignore-glob (Fossil is the source of truth)
/bin/
/lib/
/public/
/docs-api/
/.shards/
/.wasmer/
/.wasm32-wasi-libs/
/site/crystal-robots.wasm
/site/robots.json
/site/cheat-sheet.json
*.dwarf
/examples/test.wasm
/manifest.uuid
/manifest
